* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

html body {
    height: 100%;
    width: 100%;
    background-color: blueviolet;

}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    position: relative;
    height: 70px;


}

.logo {
    color: rgb(0, 0, 0)
}

nav ul {
    display: flex;
    gap: 30px;

}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: blue;
}

.menu-icon {
    display: none;

}

.menu-icon i {
    color: brown;
    font-size: 30px;
}

@media (max-width:600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: rgb(102, 228, 159);
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
    }

    .menu-icon {
        display: block;
        background-color: brown;
    }
}